/* Палитра фон */
/* цвет фона хэдэра #FFFFFF */
/* основной цвет фона #E5E5E5 */
/* цвет фона иконок секции преимущества и секции наша команда #F5F4FA  */
/* цвет фона заливки надписей секции чем мы занимаемся rgba(47, 48, 58, 0.8) */
/* цвет фона футера #2F303A */

/* Палитра текст */
/* цвет акцента и заливки кнопок (синий) #2196F3 */
/* черный #000000 */
/* светло черный #212121 */
/* серый #757575 */
/* белый #FFFFFF */
/* электронка, телефон, имейл, подпись в футере rgba(255, 255, 255, 0.6) */

:root {
  --white: #ffffff;
  --dark-white: #e5e5e5;
  --grey: #f5f4fa;
  --dark-grey: rgba(47, 48, 58, 0.8);
  --dark-grey-footer: #2f303a;
  --primery-text-color: #212121;
  --accent-color: #2196f3;
  --black: #000000;
  --grey-text: #757575;
  --conacts-color: rgba(255, 255, 255, 0.6);
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inher;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  background-color: var(--dark-white);
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* Стили страницы Студия (хэдер, футэр общие) */

/* Хэдэр */
header {
  background-color: var(--white);
}

.logo-web {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-studio {
  color: var(--black);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19em;
}
.site-nav .link {
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

.outh-nav .link {
  color: var(--grey-text);
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
}
.outh-nav .link:hover,
.outh-nav .link:focus {
  color: var(--accent-color);
}
/* Герой */
.hero {
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* Hero-footer-button */
.primary-button {
  color: var(--white);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
}
.container {
  margin-top: 94px;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  width: 1430px;
  padding-left: 15px;
  padding-right: 15px;
}

.container-with-paddings {
  margin-top: 94px;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  width: 1600px;
  padding-right: 215px;
  padding-left: 215px;
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Преимущества */
.advantages-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  display: none;
}
.advantages-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 0;
}
.advantages-text {
  color: var(--grey-text);
  font-size: 14px;
  line-height: 1.71x;
  margin-top: 10px;
  margin-bottom: 0;
}

/* Чем мы занимаемся */
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50;
}
.work-name {
  color: var(--white);
  background-color: var(--dark-grey);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  width: 370px;
}

/* Наша команда */
.team {
  background-color: var(--grey);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-block-start: 0px;
  margin-block-end: 50px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 30px;
  margin-bottom: 0px;
}

.team-function {
  color: var(--grey-text);
  margin-block-start: 10px;
  margin-block-end: 0px;

  font-size: 16px;
  line-height: 1.19;
}

.social-links {
  margin-top: 16px;
  display: inline-block;
}

/* Постоянные киенты */
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-block-end: 50px;
  margin-block-start: 0px;
}

/* Футер */
.adress .map {
  color: var(--white);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.adress .link {
  color: var(--conacts-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.adress .link:hover,
.adress .link:focus {
  color: var(--accent-color);
}
.contacts {
  background-color: var(--dark-grey-footer);
}

.invitation {
  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14x;
  text-transform: uppercase;
}
.signature {
  color: var(--conacts-color);
  font-size: 12px;
  line-height: 2;
  text-align: center;
}
.btn-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-color: var(--white);
  vertical-align: middle;
}

/* Стили страницы Портфолио */

.secondary-button {
  background-color: var(--grey);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  border: 0;
  padding: 6px 22px;
  margin-bottom: 34px;
}

.secondary-button:hover,
.secondary-button:focus {
  color: var(--white);
  background-color: var(--accent-color);
}
.portfolio-name {
  color: var(--primery-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 20px;
  margin-bottom: 0px;
}
.portfolio-item {
  color: var(--grey-text);
  font-size: 16px;
  line-height: 1.87;
  display: inline-block;
  margin-top: 4px;
  margin-bottom: 0px;
}
.portfolio-text {
  color: var(--white);
  font-size: 18px;
  line-height: 1.56;
}
